.RandomPicker {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;

        > *:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__choice {
        display: flex;
        align-content: center;
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
        hyphens: auto;
    }
}
