:root {
    --button-background-color: var(--color-primary);
    --button-background-color-hover: rgb(174, 14, 223);
    --button-background-color-active: rgb(85, 19, 105);
    --button-text-color: #fff;
}

.Button {
    display: inline-block;

    margin: 0;
    padding: 1.5em 4em;
    
    font-size: 14px;
    color: var(--button-text-color);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .05em;
    text-decoration: none;

    border: 0;
    border-radius: 4px;
    background-color: var(--button-background-color);

    transition: background-color 100ms ease-in-out;

    &:hover {
        background-color: var(--button-background-color-hover);
    }

    &:active {
        background-color: var(--button-background-color-active);
    }

    &[disabled],
    &.is-disabled {
        color: #c5c5c5;
        text-decoration: line-through;
    }

    &--text {
        color: #000;
        background-color: transparent;

        &:hover,
        &:active {
            background-color: transparent;
        }
    }
}