.Shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    &__header,
    &__body,
    &__controls {
        will-change: transform, opacity;
    }

    &__header,
    &__body {
        padding: calc(var(--gutter) * 1px);
    }

    &__header {
        flex: 0 0 auto;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    &__controls {
        display: flex;
        flex: 0 0 auto;
        height: 70px;

        > .Button {
            flex: 1;
            padding: 0 1em;
            border-radius: 0;
        }
    }

    &-appear,
    &-enter {
        opacity: 0;
        //transform: translateY(48px);
    }

    &-appear-active,
    &-enter-active {
        opacity: 1;
        //transform: translateY(0);
        transition:
            opacity calc(var(--transitionDuration, 500) * 1ms) ease-in-out;
    }
}