.ChoiceInput {
    --input-bg-color: #e8e8e8;
    --icon-color: white;
    --icon-color-disabled: gray;

    @media (prefers-color-scheme: dark) {
        --input-bg-color: #47324e;
        --icon-color-disabled: #c4afcc;
    }

    position: sticky;
    top: 0;
    margin: 0 0 2em 0;

    &__form {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        background-color: var(--input-bg-color);
    }

    &__input {
        flex: 3;
        display: block;
        padding: 0 24px;
        width: 100%;
        outline: 0;
        background: none;
        border: 0;
        color: var(--color-text);

        &::placeholder {
            color: var(--icon-color-disabled);
        }
    }

    &__remove {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 24px 0;
        height: 100%;
        max-width: 100px;
        border-radius: 0;

        &.is-disabled {
            color: var(--icon-color-disabled);
            background-color: transparent;

            > svg path {
                fill: var(--icon-color-disabled);
            }
        }

        > svg {
            width: 14px;
        }

        > svg path {
            fill: var(--icon-color);
        }
    }
}