.ChoicesForm {
    display: flex;
    flex-direction: column;

    &__header,
    &__body {
        padding: calc(var(--gutter) * 1px);
    }

    &__header {
        flex: 0 0 auto;
    }

    &__body {
        display: block;
        flex: 1 1 auto;
        padding-top: 0;
        padding-bottom: 0;
        overflow-Y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__controls {
        display: flex;
        flex: 0 0 auto;
    }

    &__controlItem {
        padding: 1.5em;
        width: 100%;
    }
}