.ChoicesList {
    margin: 0;
    padding: 0;
    line-height: 2em;
    list-style: none;

    &__item {
        display: flex;
        align-items: center;

        margin: 1em 0;
        padding: 1.3em;

        user-select: none;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
    }

    &__itemContent {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .05em;
        line-height: 1.2;
        hyphens: auto;
    }

    &__itemRemove {
        margin: 0 0 0 auto;
        padding: 0 0 0 .8em;

        > img {
            display: block;
            width: 14px;
            height: auto;
        }
    }

    &__itemContent {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}