.ChoicesList__item {
    &-enter-active,
    &-exit-active {
        transition:
            transform 250ms,
            opacity 250ms;
    }

    &-enter {
        opacity: 0;
        transform: translateY(-20%);
    }

    &-enter-active {
        opacity: 1;
        transform: translateY(0);
    }

    &-exit {
        opacity: 1;
        transform: translateY(0);
    }

    &-exit-active {
        opacity: 0;
        transform: translateY(-20%);
    }
}