.sk-Headline {
    font-family: 'Fredoka One', sans-serif;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: var(--color-headline);
    hyphens: auto;

    &--h1 {
        font-size: 42px;
    }
}